{% extends "layout.html" %}

{% block title %} 
    Одежда
{% endblock %}

{% block content %}
    <h1>Одежда</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus velit blanditiis ut incidunt tempore nemo explicabo sint, veritatis voluptate dignissimos fugit molestias quae enim, vel error? Sequi et adipisci voluptatibus optio assumenda, quas quae possimus aliquid eos, quia harum praesentium eaque nostrum. Est provident quaerat sed vero corrupti, quibusdam nemo!</p>
{% endblock %}