{% extends "layout.html" %}

{% block title %} 
    Компания
{% endblock %}

{% block content %}
    <h1>Главнная страница</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus nesciunt cumque accusantium tempore accusamus non, enim provident animi minima totam quos voluptas fugiat fugit. Dolores sequi quam, neque, fuga temporibus reprehenderit voluptate ab cumque eos iusto eaque, deserunt consequatur dolore quibusdam dicta assumenda necessitatibus perspiciatis doloremque maxime voluptatem. Harum, labore!</p>
{% endblock %}