{% extends "layout.html" %}

{% block title %} 
    Куртки
{% endblock %}

{% block content %}
    <h1>Куртки</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum perspiciatis illum adipisci minus sit? Laborum assumenda maiores earum tempora libero optio veniam delectus nulla quia iste illo qui, soluta tempore adipisci porro accusamus quibusdam suscipit unde? Distinctio nulla quaerat quia sed, iusto illo aperiam asperiores! Obcaecati eius earum delectus fugit!</p>
{% endblock %}